* {
  background-color: #B36A5E;
}

.card {
  color: white;
  font-size: 20px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.container {
  display: block;
  background-color: #C89F9C;
  color: white;
}

.col {
  display: flex;
  justify-content: space-between;
  }